{% extends 'base.html' %}

{% block content %}

{% if is_user %}
<h3>Your Account</h3>
{% endif %}
<div class="container">
  <div class="row">
    <div class="col">
    <div class="card-stacked">
      <div class="card-image">
        <img src="/media/table_images/custom_shirt.jpeg" class="circle materialboxed" width="250" height="250">
      </div>
      </div>
      </div>
    <div class="col s6">
      <div class="card horizontal z-depth-0">
        <div class="card-stacked">
          <div class="card-content">
            <p class="card-title">{{profile.first_name}} {{profile.last_name}}</p>
            <p><i class="tiny material-icons">account_circle</i>&nbsp;&nbsp;{{profile.id}}</p>
            <p>Username: {{profile.user.username}}</p>
            {% if is_user %}
              <p>Email: {{profile.user.email}}</p>
              <p>Address: {{profile.address}}, {{profile.city}}, {{profile.state}} {{profile.zip}}</p>
              <p>Birthday: {{profile.birthday}}</p>
              <p>About: {{profile.about}}</p>
            {% else %}
              <p>About: {{profile.about}}</p>
              {% if table %}
                <a href="{% url 'tables_detail' table.id %}">
                  <p>{{ table.table_name }}</p>
                </a>
              {% else %}
                <p>This user does not have a table</p>
              {% endif %}
            {% endif %}
            <br>
            {% if is_user %}
            <a href="{% url 'profiles_update' profile.id %}">Update Public Profile</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}