{% extends 'base.html' %}

{% block content %}
<section class="center-align">
<h1 class="left-align">Item Details </h1>
<div class="row">
  <div class="col s6">
    <div class="card" >
      <div class="card-content" >
        {% if item.image %}
          <img class="center-align" src="/media/{{item.image}}" height="190" width="220" class="materialboxed">
        {% endif %}
        <h6><strong>Item Table:</strong> {{ item.table }}</h6>
        <h6><strong>Item Name</strong>: {{ item.item_name }}</h6>
        <h6><strong>Item Description:</strong> {{ item.item_description }}</h6>
        <h6><strong>Item Categories:</strong> {{ item.category }}</h6>
      </div>
      {% if is_user %}
        <div class="card-action">
          <a href="{% url 'items_update' item.id %}" class="waves-effect waves-light btn-small">Edit</a>
          <a href="{% url 'items_delete' item.id %}" class="waves-effect waves-light btn-small">Delete</a>
        </div>
      {% else %}
        {% if userA %}
        <a href='/cartitems/create/' class='btn light blue'>Add to Cart</a>
        {% else %}
        <a href='/accounts/login' class='btn light blue'>Login to add</a>
        {% endif %} 
      {% endif %} 
    </div>
  </div>
</div>

<h1 class="left-align">Reviews</h1>
<div class="row">
  <div class="col s6 col-offset-3">
    {%if reviews %}
      {% for review in reviews %}
        <div class="card">
          <div class="card-content">
            <h6>{{ review.user.name }}</h6>
            <h6>{{ review.item_rating }} stars</h6>
            <h6>{{ review.comment }}</h6>
            {% if not is_user %}
            {% if userA %}
              <p class="right-align"><a href="{% url 'reviews_delete' review.id %}"><i class="material-icons">delete</i></a></p>
              {% endif %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No Reviews Yet</p>
    {% endif %}
    {% if userA %}
    <a  class="btn" href="{% url 'reviews_create' %}">Add Review</a>
    {% else %}
    <a  class="btn" href="/accounts/login">Add Review</a>
    {% endif %}

  </div>
</div>
</section>

{% endblock %}