{% extends 'base.html' %}

{% block content %}
<br>
<h4>Mangement Zone</h4>
<br>

{% if table %}
<div class="card-action">
  <a href="{% url 'tables_update' table.id %}" class="btn">Edit Table Info</a>
  <a href="{% url 'tables_delete' table.id %}" class="btn">Delete Table</a>
</div>
<a href="{% url 'tables_detail' table.id %}">
  <div class="card">
    <div class="card-content">
      <p class="card-title">{{ table.table_name }}</p>
      {% if table.image %}
      <img src="/media/{{table.image}}" height="250" width="250">
      {% else %}
      <p>No image added</p>
      {% endif %}
      <p>Description: {{table.table_description}}</p>
      <p>Category: {{table.table_category}}</p>
    </div>
  </div>
</a>

<div class="row">
  <div class="col s3">
    <a href="{% url 'items_create' %}">
      <div class="card square">
        <div class="card-content center-align">
        <p class="card-title">Add Item</p>
        <i class="material-icons large">add_circle</i>
      </div>
    </a>
  </div>
</div>

{% if items %}
{% for item in items %}

<div class="row">
  <div class="col s6 m3">
    <a href="/items/{{item.id}}">
      <div class="card square">
        <div class="card-image">
          <img src="https://via.placeholder.com/200">
          <div class="card-content center-align">
            <p>{{item.item_name}}</p>
            <p>${{item.item_price}}</p>
            <p>{{item.item_description}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
  {% else %}
  <p>No items yet</p>
{% endif %}
</div>
{% else %}
  <a href="{% url 'tables_create' %}" class="btn">Create a new table!</a>
{% endif %}

{% endblock %}