{% extends 'base.html' %}

{% block content %}
<h1>Table Details</h1>

<h1>{{table.table_name}}</h1>
<p>Owner: <a href="{% url 'profiles_detail' table.user.id %}">{{table.user}}</a></p>
<h5>{{table.table_category}}</h5>
<h5>{{table.table_description}}</h5>

  {% if items %}
  {% for item in items %}
  
  <div class="row">
    <div class="col s6 m3">
      <a href="/items/{{item.id}}">
        <div class="card square">
          <div class="card-image">
            <img src="https://via.placeholder.com/200">
            <div class="card-content center-align">
              <p>{{item.item_name}}</p>
              <p>${{item.item_price}}</p>
              <p>{{item.item_description}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
    {% else %}
    <p>No items yet</p>
  {% endif %}
  </div>
  
{% endblock %}